.custom-date-picker {
  font-size: 2rem;
}

.custom-date-picker-class input {
	font-size: 1rem;
	padding: 0.5rem;
	color: rgb(100,100,100);
	outline: none;
}

#tool-bar {
	display: grid;
	grid-template-columns: 10rem 2.5rem auto;
	grid-template-rows: auto;
}

#day-type {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	padding-top: 0.6rem;
	font-size: 1.1rem;
}

#custom-date-picker {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	font-size: 1rem;
	width: 100%;
}